@charset "utf-8";

body.section-lakbayan p, body.section-lakbayan a, body.section-lakbayan li, body.section-lakbayan span, body.section-lakbayan label {
	font-family: 'RockoFLF';
}

body.section-lakbayan p, body.section-lakbayan a, body.section-lakbayan li, body.section-lakbayan span {
	font-size: 17px;
}

body.section-lakbayan h1, body.section-lakbayan h2 {
	font-family: 'RockoUltraFLF';
	line-height: normal;
	text-transform: uppercase;
	font-weight: normal;
}
	body.section-lakbayan h1 {
		font-size: 30px;
		text-align: center;
	}
	body.section-lakbayan h2 {
		font-size: 28px;
	}
	


p.button-link a {
	font-family: 'RockoUltraFLF';
	font-size: 17px;
	font-weight: normal;
	color: #159fce!important;
	background: #ffffff;
	text-transform: uppercase;
	padding: 5px 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: none;
	color: #414141;
	margin: 0;
}	
p.button-link a:hover {
	background: #d0d0d0;
}
		
		

/* Banner - Overview */
body.section-lakbayan #banner {
	background: #1aaf89; /*url("../images/lakbayan-banner-bg.jpg") no-repeat center center;*/
	padding: 20px 0;
	margin-bottom: 0;
}
	body.section-lakbayan #banner h2 {
		margin: 0;
		color: #ffffff;
	}

body.section-lakbayan #highlighted section.overview-slider div.nivo-controlNav {
	margin-top: 0;
}
/* END Banner - Overview */

	
/* Navigation */
body.section-lakbayan #navigation {
	padding: 10px 0;
}
	body.section-lakbayan #navigation section.block-menu ul.menu li a:hover, body.section-lakbayan #navigation section.block-menu ul.menu li a.active-trail, body.section-lakbayan #navigation section.block-menu ul.menu li a.active {
		color: #1aaf89;
	}
	
body.section-lakbayan #navigation .columns {
	padding: 0;
}
/* END Navigation */


	
/* Content */
body.section-lakbayan.gallery.no-border #main, body.section-lakbayan.no-background #main {
	background: none;
}
body.section-lakbayan.gallery.no-border #lakbayan-splash, body.section-lakbayan.no-background #lakbayan-splash {
	display: none;
}

body.section-lakbayan.no-border #main {
	padding: 0;
}

/*body.section-lakbayan.gallery #main h1 {
	display: none;
}*/

body.section-lakbayan #main {
	background: #1aaf89;
	padding: 20px;
}
	body.section-lakbayan #main p, body.section-lakbayan #main h1, body.section-lakbayan #main li, body.section-lakbayan #main a, body.section-lakbayan #main span, body.section-lakbayan #main label {
		color: #ffffff;
	}
		body.section-lakbayan #main .tabs a {
			color: #2795b6;
		}
	
body.section-lakbayan #lakbayan-splash {
	width: 100%;
	height: 205px;
	background: #1aaf89 url("../images/lakbayan-pages-bottom-bg.png") no-repeat bottom center;
}

body.section-lakbayan.static-page #main {
	padding: 40px 130px;
}


/* Front */
	
body.section-lakbayan .lakbayan-overview-gallery-link h2 a {
	color: #ffffff;
	font-family: 'RockoUltraFLF';
	line-height: normal;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 28px;
}

body.section-lakbayan .lakbayan-overview-gallery-link, body.section-lakbayan .lakbayan-overview-gallery-link h2, body.section-lakbayan .lakbayan-overview-gallery-link h2 a {
	display: block;
	height: 100%;
	width: 100%;
}

body.section-lakbayan .lakbayan-overview-gallery-background {
	display: none;
}

body.section-lakbayan .lakbayan-link-to-toka-toka img:hover {
	ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}
/* END Content */


/* News */
body.section-lakbayan.node-type-lakbayan-news h1 {
	text-align: left!important;
}

body.section-lakbayan.node-type-lakbayan-news p {
	text-align: justify!important;
}

body.section-lakbayan.lakbayan-news h1 {
	display: none;
	text-align: left!important;
}

body.section-lakbayan.lakbayan-news h2 {
	text-align: left;
	margin-top: 0;
}
	body.section-lakbayan.lakbayan-news h2 a {
		font-family: 'RockoUltraFLF';
		font-size: 30px;
		line-height: normal;
		font-weight: normal;
	}
body.section-lakbayan.lakbayan-news .lakbayan-news-featured {
	background: #1aaf89;	
}
	body.section-lakbayan.lakbayan-news .lakbayan-news-featured .news-featured-title-body {
		padding: 20px;
	}
		body.section-lakbayan.lakbayan-news .lakbayan-news-featured .news-featured-title-body p.more-button-container, body.section-lakbayan.lakbayan-news .lakbayan-news-sub .views-field-title-2 p.more-button-container {
			margin-bottom: 0;
		}
			body.section-lakbayan.lakbayan-news .lakbayan-news-featured .news-featured-title-body p.more-button-container a span, body.section-lakbayan.lakbayan-news .lakbayan-news-sub .views-field-title-2 p.more-button-container a span {
				font-family: 'RockoUltraFLF';
				text-transform: uppercase;
			}

body.section-lakbayan.lakbayan-news .lakbayan-news-sub {
	margin: 8px 0 0 0;
}
	body.section-lakbayan.lakbayan-news .lakbayan-news-sub .views-column-1 {
		padding-right: 6px;
	}
	
	body.section-lakbayan.lakbayan-news .lakbayan-news-sub .views-column-2 {
		padding: 0 3px;
	}
	
	body.section-lakbayan.lakbayan-news .lakbayan-news-sub .views-column-3 {
		padding-left: 6px;
	}

	body.section-lakbayan.lakbayan-news .lakbayan-news-sub .views-field-title-2 {
		line-height: normal;
		padding: 15px;
		background: #e1e1e1;
	}
		body.section-lakbayan.lakbayan-news .lakbayan-news-sub h3 {
			line-height: normal;'
			margin-top: 0;
		}
			body.section-lakbayan.lakbayan-news .lakbayan-news-sub h3 a {
				font-family: 'RockoUltraFLF';
				font-size: 23px;
				line-height: normal;
				text-transform: uppercase;
				font-weight: normal;
				color: #1aaf88!important;
			}

		body.section-lakbayan.lakbayan-news .lakbayan-news-sub p.more-button-container {
			position: absolute;
			bottom: 10px;
		}
			body.section-lakbayan.lakbayan-news .lakbayan-news-sub p, body.section-lakbayan.lakbayan-news .lakbayan-news-sub p.more-button-container a span {
				color: #373737!important;
			}
			
			body.section-lakbayan.lakbayan-news .lakbayan-news-sub p {
				text-align: justify;
			}
			
			body.section-lakbayan.lakbayan-news p {
				text-align: justify;
			}
			
			
body.section-lakbayan.lakbayan-news .lakbayan-news-featured img, body.section-lakbayan.lakbayan-news .lakbayan-news-sub img {
	width: auto;
}

/* Individual Pages */
body.section-lakbayan.node-type-lakbayan-news #lakbayan-splash {
	margin-bottom: 0;
}

body.section-lakbayan.node-type-lakbayan-news .image {
	float: left;
	margin: -26px 20px 0 -20px;
}
	body.section-lakbayan.node-type-lakbayan-news .image img {
		width: auto;
	}

/*body.section-lakbayan.node-type-lakbayan-news #side-first {
	padding: 0;
}
	body.section-lakbayan.node-type-lakbayan-news #side-first .sidebar-inner {
		padding: 0;
		height: auto!important;
	}
		body.section-lakbayan.node-type-lakbayan-news #side-first .sidebar-inner {
			padding: 0;
			background: none;
		}
			body.section-lakbayan.node-type-lakbayan-news #side-first .sidebar-inner p {
				margin: 0;
				text-align: justify;
			}*/
			body.section-lakbayan .lakbayan-view-all-news p {
				margin-top: 10px;
			}
				body.section-lakbayan .lakbayan-view-all-news p a {
					font-family: 'RockoUltraFLF';
					font-size: 13px;
					/*color: #1aaf89!important;*/
				}

/* Archive */
body.section-lakbayan .view-news-archive p {
	margin-bottom: 10px;
}

/* END News */
	

	
/* Gallery */
body.section-lakbayan.gallery .view-photo-gallery .views-column-1, body.section-lakbayan.gallery .view-photo-gallery .views-column-4, body.section-lakbayan.gallery .view-photo-gallery .views-column-7 {
	padding: 0 4px 4px 0;
}
	body.section-lakbayan.gallery .view-photo-gallery .views-column-1 .views-field-title, body.section-lakbayan.gallery .view-photo-gallery .views-column-4 .views-field-title, body.section-lakbayan.gallery .view-photo-gallery .views-column-7 .views-field-title {
		margin: 0 4px 0 0;
	}
	
body.section-lakbayan.gallery .view-photo-gallery .views-column-2, body.section-lakbayan.gallery .view-photo-gallery .views-column-5, body.section-lakbayan.gallery .view-photo-gallery .views-column-8 {
	padding: 0 2px 4px;
}
	body.section-lakbayan.gallery .view-photo-gallery .views-column-2 .views-field-title, body.section-lakbayan.gallery .view-photo-gallery .views-column-5 .views-field-title, body.section-lakbayan.gallery .view-photo-gallery .views-column-6 .views-field-title {
		margin: 0 2px;
	}

body.section-lakbayan.gallery .view-photo-gallery .views-column-3, body.section-lakbayan.gallery .view-photo-gallery .views-column-6, body.section-lakbayan.gallery .view-photo-gallery .views-column-9 {
	padding: 0 0 4px 4px;
}
	body.section-lakbayan.gallery .view-photo-gallery .views-column-3 .views-field-title, body.section-lakbayan.gallery .view-photo-gallery .views-column-6 .views-field-title, body.section-lakbayan.gallery .view-photo-gallery .views-column-9 .views-field-title {
		margin: 0 0 0 4px;
	}

body.section-lakbayan.gallery .view-photo-gallery .views-column .views-field-title {
    background: url("../images/toka-toka-gallery-title-bg.png") repeat top center;
    left: 0;
    padding: 25px 15px;
    position: absolute;
    right: 0;
    top: 0;
}
	body.section-lakbayan.gallery .view-photo-gallery .views-column .views-field-title a {
		font-size: 20px;
		font-weight: bold;
	}
	
body.section-lakbayan.gallery .view-photo-gallery .views-column img {
	width: auto;
}

/* END Gallery */


/* Gallery Individual Pages */
body.section-lakbayan.gallery.node-type-lakbayan-photo-gallery .bx-wrapper .bx-viewport {
	background: none;
    border: 0 none;
    left: 0;
}

body.section-lakbayan.gallery.node-type-lakbayan-photo-gallery #field_images .bx-wrapper:last-child {
	margin-top: 20px!important;
	max-width: none!important
}
	body.section-lakbayan.gallery.node-type-lakbayan-photo-gallery #field_images .bx-wrapper:last-child .bx-viewport {
		margin: 0 40px!important;
		width: auto!important;
	}
		body.section-lakbayan.gallery.node-type-lakbayan-photo-gallery #field_images .bx-wrapper .bx-viewport ul.bxslider-ths li img {
			padding-right: 5px;
			background: none;
			width: 200px;
		}

		body.section-lakbayan.gallery.node-type-lakbayan-photo-gallery #field_images .bx-wrapper .bx-viewport ul.bxslider-ths li.active img, body.section-lakbayan.gallery.node-type-lakbayan-photo-gallery #field_images .bx-wrapper .bx-viewport ul.bxslider-ths li:hover img {
				ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  				filter: alpha(opacity=70);
		}
		
		body.section-lakbayan.gallery.node-type-lakbayan-photo-gallery #field_images .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
			background: url("../images/navi-left.png") no-repeat center center;
			transition: 0.5s all ease-in-out;
			-moz-transition: 0.5s all ease-in-out;
			-webkit-transition: 0.5s all ease-in-out;
			ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
		}
			body.section-lakbayan.gallery.node-type-lakbayan-photo-gallery #field_images .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:hover {
				ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
				filter: alpha(opacity=50);
				transition: 0.5s all linear;
				-moz-transition: 0.5s all linear;
				-webkit-transition: 0.5s all linear;
			}
		body.section-lakbayan.gallery.node-type-lakbayan-photo-gallery #field_images .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
			background: url("../images/navi-right.png") no-repeat center center;
			transition: 0.5s all ease-in-out;
			-moz-transition: 0.5s all ease-in-out;
			-webkit-transition: 0.5s all ease-in-out;
			ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
		}
			body.section-lakbayan.gallery.node-type-lakbayan-photo-gallery #field_images .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:hover {
				ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
				filter: alpha(opacity=50);
				transition: 0.5s all ease-in-out;
				-moz-transition: 0.5s all ease-in-out;
				-webkit-transition: 0.5s all ease-in-out;
			}

			
body.section-lakbayan .field-name-field-download-album {
    margin-top: 10px;
    text-align: right;
}
	body.section-lakbayan .field-name-field-download-album a {
		background: #e9e9e9;
		border: medium none;
		border-radius: 5px;
		color: #159fce!important;
		font-family: "RockoUltraFLF";
		font-size: 17px;
		font-weight: normal;
		padding: 5px 10px;
		text-transform: uppercase;
		margin: 10px 10px 0 0;
		display: inline-block;
	}
	body.section-lakbayan .field-name-field-download-album a:hover {
		background: #d0d0d0;
	}

	body.section-lakbayan.gallery.node-type-lakbayan-photo-gallery #field_images .bx-wrapper {
		max-width: 100%!important;
	}
		body.section-lakbayan.gallery.node-type-lakbayan-photo-gallery #field_images .bx-wrapper .bx-viewport {
			width: 835px!important;
			margin: 20px auto 0 auto;
		}

		body.section-lakbayan.gallery.node-type-lakbayan-photo-gallery #field_images .bx-wrapper:first-child .bx-viewport {
			max-width: 100%!important;
			width: 100%!important;
			margin: 0!important;
		}
/* END Gallery Individual Pages */


/* Side */
body.section-lakbayan #side-first {
	padding: 0 10px 0 0;
}
	body.section-lakbayan #side-first .sidebar-inner {
		background: url("../images/ie-lakbayan-front-gallery-button.jpg") no-repeat top center;
		padding: 20px;
	}
	
	body.section-lakbayan #side-first .sidebar-inner:hover {
		ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
	}
	
	body.section-lakbayan #side-first .sidebar-inner h2 {
		text-align: center;
		font-size: 34px;
		color: #ffffff;
	}



/* Lakbayan Sign-Up */
body.section-lakbayan #side-second .sidebar-inner .lakbayan-signup {
	padding: 20px;
	background: #f78d2b;
	margin-bottom: 20px;
	position: relative;
	cursor: pointer;
}
	
	body.section-lakbayan .lakbayan-signup h2 {
		background: #f78d2b url("../images/lakbayan-front-sign-up-bg.png") no-repeat center center;
		background-size: auto;
		bottom: 0;
		color: #ffffff;
		font-size: 34px;
		left: 0;
		right: 0;
		margin: auto;
		position: absolute;
		text-align: center;
		top: 0;
		bottom: 0;
		z-index: 1;
		cursor: pointer;
		text-indent: -9999px;
		height: auto;
	}
	
	body.section-lakbayan .lakbayan-signup h2:hover {
		background: #fdbd81 url("../images/lakbayan-front-sign-up-bg.png") no-repeat center center;
		background-size: auto;
	}
	
	body.section-lakbayan #side-second .lakbayan-signup form {
		visibility: hidden;
		ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		cursor: pointer;
		margin: 0;
	}
		
		body.section-lakbayan #side-second .lakbayan-signup .form-item {
			margin: 0 0 10px 0;
		}
			body.section-lakbayan #side-second .lakbayan-signup .form-item input, body.section-lakbayan #side-second .lakbayan-signup .form-item select {
				margin: 0;
				padding: 3px 5px;
				border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				border: none;
				color: #6d6d6d;
				font-family: arial;
				font-style: normal;
				font-size: 13px;
				height: 30px;
			}
			
			body.section-lakbayan #side-second .lakbayan-signup .form-item label {
				font-size: 15px;
				color: #ffffff;
				font-family: arial;
				font-weight: bold;
			}
			
			body.section-lakbayan #side-second .lakbayan-signup .form-item .description {
				color: #ffffff;
				font-size: 13px;
				font-family: arial;
				font-weight: normal;
				margin-top: 3px;
			}
			
		body.section-lakbayan #side-second .lakbayan-signup button.webform-submit {
			font-family: 'RockoUltraFLF';
			font-size: 17px;
			font-weight: normal;
			color: #159fce!important;
			text-transform: uppercase;
			padding: 5px 10px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border: none;
			color: #414141;
			margin: 20px 0 0 auto;
			display: block;
		}



/* Picture Upload */
body.section-lakbayan #side-second {
	padding: 0 0 0 10px;
}
	body.section-lakbayan #side-second .sidebar-inner {
	}
		
		body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload {
			padding: 20px 40px;
			border-radius: 0 50px 0 50px;
			-moz-border-radius: 0 50px 0 50px;
			-webkit-border-radius: 0 50px 0 50px;
			background: #1aaf89;
			border-radius: 0;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			position: relative;
			cursor: pointer;
		}
		
			body.section-lakbayan .lakbayan-picture-upload h2 {
				background: #1aaf89 url("../images/lakbayan-front-lakbayan-moments-bg.png") no-repeat center center;
				background-size: auto auto;
				border-radius: 0 50px 0 50px;
				-moz-border-radius: 0 50px 0 50px;
				-webkit-border-radius: 0 50px 0 50px;
				bottom: 0;
				color: #ffffff;
				font-size: 34px;
				left: 0;
				right: 0;
				margin: auto;
				position: absolute;
				text-align: center;
				top: 0;
				z-index: 1;
				height: auto;
				cursor: pointer;
				bottom: 0;
				text-indent: -9999px;
			}
			
			body.section-lakbayan .lakbayan-picture-upload h2:hover {
				background: #9ce8d5 url("../images/lakbayan-front-lakbayan-moments-bg.png") no-repeat center center;
				background-size: auto auto;
			}
			
			body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form {
				visibility: hidden;
				ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
				filter: alpha(opacity=0);
				cursor: pointer;
			}
		
			body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form, body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--choose-file {
				margin-top: 0;
			}
			
			body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--choose-file, body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--short-description, body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--submitted-by, body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--email-address {
				display: table;
			}
			
				body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--choose-file .form-item-picture-upload-choose-file {
					background: #ffffff;
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					overflow: hidden;
					padding: 3px;
				}
					body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--choose-file .form-item-picture-upload-choose-file input {
						/*text-indent: -87px;*/
						width: 100%;
						font-size: 14px;
						font-style: italic;
						font-weight: normal;
					}
					
				body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--choose-file .form-item-picture-upload-choose-file input, body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--short-description textarea {
					color: #6d6d6d;
					font-family: arial;
					font-size: 13px;
					font-style: normal;
				}
				
				body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--choose-file .form-item-picture-upload-choose-file button, body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--choose-file .description {
					display: none;
				}
				body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form, body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-submit {
					margin: 0;
				}
			
			body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--short-description {
				margin-bottom: 0;
				width: 100%;
			}
				body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--short-description textarea {
					resize: none;
					height: 100px;
					width: 100%;
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					box-shadow: none;
					-moz-box-shadow: none;
					-webkit-box-shadow: none;
					border: none;
				}
			
			body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--choose-file .form-item-picture-upload-choose-file,
			body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--short-description .form-textarea-wrapper,
			body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--submitted-by input,
			body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--email-address input {
				display: table-cell;
			}
				body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--submitted-by input, body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--email-address input {
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					box-shadow: none;
					-moz-box-shadow: none;
					-webkit-box-shadow: none;
					margin-bottom: 0;
				}
			
			body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form label {
				width: 145px;
				color: #ffffff;
				font-size: 20px;
				text-align: right;
				display: table-cell;
				padding: 0 20px 0 0;
			}
				body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--choose-file label, body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--submitted-by label, body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-component--email-address label {
					vertical-align: middle;
				}
			
			body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form form-item {
				margin-bottom: 10px;
			}
			
			body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form .webform-submit {
				border: medium none;
				border-radius: 5px;
				color: #159fce !important;
				font-family: "RockoUltraFLF";
				font-size: 17px;
				font-weight: normal;
				padding: 5px 10px;
				text-transform: uppercase;
				display: block;
				margin: 0 0 0 auto;
			}
			
				body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form #edit-submitted-terms-and-conditions .form-item {
					display: table;
					width: auto !important;
				}
					body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form #edit-submitted-terms-and-conditions label, body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form #edit-submitted-terms-and-conditions input, body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form #edit-submitted-terms-and-conditions span {
						display: table-cell !important;
						margin-bottom: 0;
						text-align: left;
					}
					body.section-lakbayan #side-second .sidebar-inner .lakbayan-picture-upload form #edit-submitted-terms-and-conditions label {
						width: 100%;
						font-size: 12px;
						line-height: normal;
						padding: 0 0 0 10px;
					}
/* END Side */


/* Contact */
body.section-lakbayan .lakbayan-contact-send-us-an-email h2 {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 10px;
    margin: 20px auto 40px auto;
    max-width: 380px;
    padding: 10px 20px;
    text-align: center;
}
	body.section-lakbayan .lakbayan-contact-send-us-an-email h2 a {
		font-family: 'RockoUltraFLF';
		font-size: 33px;
		color: #159fce!important;
	}
	
body.section-lakbayan .lakbayan-contact-send-us-an-email hr {
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    height: 5px;
}

body.section-lakbayan .lakbayan-contact-form form {
	width: 80%;
	margin: 0 auto;
}

body.section-lakbayan .lakbayan-contact-form .form-item {
	display: block;
	margin: 0 auto;
	width: 100%;
}
	body.section-lakbayan .lakbayan-contact-form .form-item label, body.section-lakbayan .lakbayan-contact-form .form-item input, body.section-lakbayan .lakbayan-contact-form .form-item .form-textarea-wrapper {
		display: block;
	}
	
	body.section-lakbayan .lakbayan-contact-form .form-item label {
		padding-right: 20px;
		max-width: 165px;
		width: 165px;
		font-family: 'RockoUltraFLF';
		font-size: 17px;
		text-transform: uppercase;
	}
	
	body.section-lakbayan .lakbayan-contact-form .form-item input, body.section-lakbayan .lakbayan-contact-form .form-item textarea {
	    color: #6d6d6d;
		font-family: arial;
		font-size: 13px;
		font-style: normal;
	}
	
	body.section-lakbayan .lakbayan-contact-form .form-item textarea {
		resize: none;
		height: 140px;
		width: 100%;
	}
	
	body.section-lakbayan .lakbayan-contact-form button.webform-submit {
		margin-top: 20px;
		margin-bottom: 0;
		float: right;
		font-family: 'RockoUltraFLF';
		text-transform: uppercase;
		font-size: 15px;
		color: #159fce;
		font-weight: normal;
		padding: 5px 5px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
/* END Contact */




body.section-lakbayan #pre-footer .pre-footer {
    background: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}