@charset "utf-8";

img {
	width: auto;
}

body.section-toka-toka p, body.section-toka-toka a, body.section-toka-toka li, body.section-toka-toka span, body.section-toka-toka label {
	font-family: arial;
}
body.section-toka-toka h1, body.section-toka-toka h2 {
	font-family: 'GABRWFFR';
	color: #05509f;
	line-height: normal;
	text-transform: uppercase;
	font-weight: normal;
}
	body.section-toka-toka h1 {
		font-size: 25px;
		text-align: center;
		line-height: 37px;
	}

	body.section-toka-toka.toka-toka-overview h1 {
		font-size: 42px;
	}

	body.section-toka-toka h2 {
		font-size: 20px;
	}

body.section-toka-toka #main .tabs a {
	color: #2795b6;
	font-family: 'RockoUltraFLF';
	font-size: 0.8125em;
	font-weight: normal;
}

article.node::after {
	clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}


/* Banner - Overview */
body.section-toka-toka #banner {
	background: #a6ce3a;
	padding: 20px 0;
	margin-bottom: 0;
}
	body.section-toka-toka #banner h2 {
		margin: 0;
		color: #ffffff;
		font-size: 33px;
		font-family: 'RockoUltraFLF';
	}
	
body.section-toka-toka .toka-toka-banner-border {
    position: absolute;
    z-index: 15;
}

body.section-toka-toka #highlighted section.overview-slider div.nivo-controlNav {
    bottom: 40px;
    padding: 0;
    position: absolute;
    right: 50px;
    z-index: 20;
	margin-top: 0;
}

	body.section-toka-toka #highlighted section.overview-slider div.nivo-controlNav a {
		background: #05509f;
	}
	body.section-toka-toka #highlighted section.overview-slider div.nivo-controlNav a:hover, body.section-toka-toka #highlighted section.overview-slider div.nivo-controlNav a.active {
		background: #6eb4fe;
	}
/* END Banner - Overview */

	
/* Navigation */
body.section-toka-toka #navigation {
	padding: 10px 0;
}
	body.section-toka-toka #navigation section.block-menu ul.menu li a {
		color: #009ec5;
	}
	
	body.section-toka-toka #navigation section.block-menu ul.menu li a:hover, body.section-toka-toka #navigation section.block-menu ul.menu li a.active-trail, body.section-toka-toka #navigation section.block-menu ul.menu li a.active {
		color: #05509f;
	}
/* END Navigation */

	
/* Toka-Toka Side Front  */
body.section-toka-toka #side-first {
	background: #e3e3e3;
	border-radius: 0 0 30px 30px;
	-moz-border-radius: 0 0 30px 30px;
	-webkit-border-radius: 0 0 30px 30px;
	height: auto!important;
}
	
		body.section-toka-toka #side-first .toka-toka-home-highlighted-news .views-field-title-field {
			padding: 20px 20px 0 20px;
		}
		
			body.section-toka-toka #side-first .toka-toka-home-highlighted-news .views-field-title-field h2 a, body.section-toka-toka #side-first .toka-toka-home-highlighted-news .views-field-title-field .more-button-container a span {
				font-size: 25px;
				font-family: 'RockoUltraFLF';
			}
				body.section-toka-toka #side-first .toka-toka-home-highlighted-news .views-field-title-field .more-button-container a span {
					font-size: 20px;
				}
		
		
	body.section-toka-toka #side-first .toka-toka-home-about-more-button {
		padding: 0 20px 20px 20px
	}
		body.section-toka-toka #side-first .toka-toka-home-about-more-button p {
			margin: 0;
		}
			body.section-toka-toka #side-first .toka-toka-home-about-more-button p a {
				font-size: 20px;
				font-family: 'RockoUltraFLF';
			}
			body.section-toka-toka #side-first .toka-toka-home-about-more-button p a:hover {
				color: #05509F;
			}
	

body.section-toka-toka #side-second {
	padding: 0;
}

	body.section-toka-toka #side-second .toka-toka-home-link-gallery {
		padding-right: 0;
		padding-left: 0.9375em;
	}
		body.section-toka-toka #side-second .toka-toka-home-link-gallery h2 {
			color: #ffffff;
			font-size: 32px;
			left: 15px;
			margin: 0 auto;
			position: absolute;
			right: 0;
			text-align: center;
			top: 20px;
		}
			body.section-toka-toka #side-second .toka-toka-home-link-gallery img:hover {
				ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  				filter: alpha(opacity=50);
			}
	
	body.section-toka-toka #side-second .toka-toka-home-video {
		padding-right: 0;
		padding-left: 0.9375em;
	}
		/*body.section-toka-toka #side-second .toka-toka-home-video:hover {
			ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
			filter: alpha(opacity=50);
		}*/


	body.section-toka-toka #side-second .toka-toka-home-video .views-field-title {
		position: relative;
	}

	body.section-toka-toka #side-second .toka-toka-home-video:hover .album-image {
		ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

		body.section-toka-toka #side-second .toka-toka-home-video .click-here-text {
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    vertical-align: middle;
		    height: 100%;
		    width: 101%;
		    background: url(../images/bg-home-video.png);
		    display: none;
		    padding: 10px;
		    z-index: 1;
		}

		body.section-toka-toka #side-second .toka-toka-home-video:hover .click-here-text {
		    display: table;
		}
			body.section-toka-toka #side-second .toka-toka-home-video .click-here-text a {
			    display: table-cell;
			    vertical-align: middle;
			    color: #05509f;
			    font-size: 20px;
			    line-height: 31px;
			    font-family: 'GABRWFFR';
			}

/* Picture Upload */
body.section-toka-toka #side-second {
	padding: 0;
}
	body.section-toka-toka #side-second .sidebar-inner {
	}
		
		body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload {
			margin-top: 15px;
			padding: 0;
			position: relative;
			border-left: 15px solid #edf2f5;
			border-radius: 0 50px 0 50px;
			-moz-border-radius: 0 50px 0 50px;
			-webkit-border-radius: 0 50px 0 50px;
			background: #A5CE3A;
			cursor: pointer;
		}
		
			body.section-toka-toka .toka-toka-picture-upload h2 {
				background: #a5ce3a url("../images/ano-ang-toka-mo-bg.png") no-repeat scroll center center;
				border-radius: 0 40px 0 40px;
				-moz-border-radius: 0 40px 0 40px;
				-webkit-border-radius: 0 40px 0 40px;
				bottom: 0;
				color: #ffffff;
				font-size: 34px;
				left: 0;
				right: 0;
				margin: 0 auto;
				position: absolute;
				text-align: center;
				top: 0;
				z-index: 1;
				cursor: pointer;
				text-indent: -9999px;
			}
				body.section-toka-toka .toka-toka-picture-upload h2:hover {
					background: #bfd586 url("../images/ano-ang-toka-mo-bg.png") no-repeat scroll center center;
				}
			
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form {
				background: #a5ce3a;
				border-radius: 0 50px 0 50px;
				-moz-border-radius: 0 50px 0 50px;
				-webkit-border-radius: 0 50px 0 50px;
				visibility: hidden;
				ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
				filter: alpha(opacity=0);
				cursor: pointer;
				padding: 20px 40px;
			}
		
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--choose-file {
				margin-top: 0;
			}
			
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--choose-file, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--short-description, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--submitted-by, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--email-address {
				display: table;
			}
			
				body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--choose-file input {
					background: #ffffff;
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					overflow: hidden;
					padding: 3px;
				}
					body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--choose-file .form-item-picture-upload-choose-file input {
						/*text-indent: -87px;*/
						width: 100%;
						font-size: 14px;
						font-style: italic;
						font-weight: normal;
					}
					
				body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--choose-file .form-item-picture-upload-choose-file input, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--short-description textarea {
					color: #6d6d6d;
					font-family: arial;
					font-size: 13px;
					font-style: normal;
				}
				
				body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--choose-file button, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--choose-file .description {
					display: none;
				}
				body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-submit {
					margin: 0;
				}
			
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--short-description {
				margin-bottom: 0;
				width: 100%;
			}
				body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--short-description textarea {
					resize: none;
					height: 100px;
					width: 100%;
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					box-shadow: none;
					-moz-box-shadow: none;
					-webkit-box-shadow: none;
					border: none;
				}
			
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--choose-file .form-item-picture-upload-choose-file,
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--short-description .form-textarea-wrapper,
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--submitted-by input,
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--email-address input {
				display: table-cell;
			}
				body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--submitted-by input, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--email-address input {
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					box-shadow: none;
					-moz-box-shadow: none;
					-webkit-box-shadow: none;
					margin: 0;
				}
			
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form label {
				width: 145px;
				color: #ffffff;
				font-size: 20px;
				text-align: right;
				display: table-cell;
				padding: 0 20px 0 0;
			}
				 body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--choose-file label, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--submitted-by label, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--email-address label {
					 vertical-align: middle;
				 }
			
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form form-item {
				margin-bottom: 10px;
			}
			
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-submit {
				border: medium none;
				border-radius: 5px;
				color: #159fce !important;
				font-family: "RockoUltraFLF";
				font-size: 17px;
				font-weight: normal;
				padding: 5px 10px;
				text-transform: uppercase;
				display: block;
				margin: 0 0 0 auto;
			}
			
				body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form #edit-submitted-terms-and-conditions .form-item {
					display: table;
					width: auto !important;
				}
					body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form #edit-submitted-terms-and-conditions label, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form #edit-submitted-terms-and-conditions input, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form #edit-submitted-terms-and-conditions span {
						display: table-cell !important;
						margin-bottom: 0;
						text-align: left;
					}
					body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form #edit-submitted-terms-and-conditions label {
						width: 100%;
						font-size: 12px;
						line-height: normal;
						padding: 0 0 0 10px;
					}
					
					
/* Link to Toka-Toka */
body.section-toka-toka .toka-toka-link-to-lakbayan img:hover {
	ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}
/* END Toka-Toka Side Front */



/* Content */
body.section-toka-toka #toka-toka-main-top {
	height: 76px;
	background: url('../images/ie-toka-toka-content-head.png') no-repeat center center;
}

body.section-toka-toka #toka-toka-main-bottom {
	height: 144px;
	background: url('../images/ie-toka-toka-content-foot.png') no-repeat center center;
}

body.section-toka-toka h3, body.section-toka-toka h3 a {
	font-family: 'GABRWFFR';
	font-size: 25px;
	color: #05509f;
	text-align: center;
	margin-top: 0;
}

body.section-toka-toka #main {
	min-height: 450px;
	background: url("../images/ie-toka-toka-content-border.png") no-repeat scroll center top;
	padding: 0 80px;
}
/* END Content */


/* Partners */
body.section-toka-toka .toka-toka-partners .views-responsive-grid {
	margin-bottom: 40px;
}
	body.section-toka-toka .toka-toka-partners .views-responsive-grid .views-column {
		margin-bottom: 20px;
	}
		body.section-toka-toka .toka-toka-partners .views-field-name {
			min-height: 40px;
		}
			body.section-toka-toka .toka-toka-partners .views-field-name span, body.section-toka-toka .toka-toka-partners .views-field-name a {
				font-family: 'RockoFLF';
				color: #05509f;
				text-transform: uppercase;
				font-size: 14px;
				display: block;
				border-bottom: 0;
			}
				body.section-toka-toka .toka-toka-partners .views-field-name img {
					margin-bottom: 5px;
				}
/* END Partners */


/* News */
body.section-toka-toka.node-type-toka-toka-news h1 {
	text-align: left!important;
}

body.section-toka-toka.node-type-toka-toka-news p {
	text-align: justify!important;
}

body.section-toka-toka.toka-toka-news h1 {
	display: none;
	text-align: left!important;
}

body.section-toka-toka.toka-toka-news h2 {
	text-align: left;
	margin-top: 0;
}
	body.section-toka-toka.toka-toka-news h2 a, body.section-toka-toka.node-type-toka-toka-news h1 {
		font-family: 'RockoUltraFLF';
		font-size: 30px;
		line-height: normal;
		font-weight: normal;
		color: #00A1BD;
	}
body.section-toka-toka.toka-toka-news .toka-toka-news-featured {
	background: #e1e1e1;	
}
	body.section-toka-toka.toka-toka-news .toka-toka-news-featured .news-featured-title-body {
		padding: 20px;
	}
		body.section-toka-toka.toka-toka-news .toka-toka-news-featured .news-featured-title-body p.more-button-container, body.section-toka-toka.toka-toka-news .toka-toka-news-sub .views-field-title-2 p.more-button-container {
			margin-bottom: 0;
		}
			body.section-toka-toka.toka-toka-news .toka-toka-news-featured .news-featured-title-body p.more-button-container a span, body.section-toka-toka.toka-toka-news .toka-toka-news-sub .views-field-title-2 p.more-button-container a span {
				font-family: 'RockoUltraFLF';
				text-transform: uppercase;
			}
			body.section-toka-toka.toka-toka-news .toka-toka-news-featured .news-featured-title-body p {
				text-align: justify;
			}

body.section-toka-toka.toka-toka-news .toka-toka-news-sub {
	margin: 8px 0 0 0;
}
	body.section-toka-toka.toka-toka-news .toka-toka-news-sub .views-column-1 {
		padding-right: 6px;
	}
	
	body.section-toka-toka.toka-toka-news .toka-toka-news-sub .views-column-2 {
		padding: 0 3px;
		margin-top: 0;
	}
	
	body.section-toka-toka.toka-toka-news .toka-toka-news-sub .views-column-3 {
		padding-left: 6px;
		margin-top: 0;
	}



	body.section-toka-toka.toka-toka-news .toka-toka-news-sub .views-field-title-2 {
		line-height: normal;
		padding: 15px;
		background: #e1e1e1;
	}
		body.section-toka-toka.toka-toka-news .toka-toka-news-sub h3 {
			line-height: normal;'
			margin-top: 0;
			text-align: left;
		}
			body.section-toka-toka.toka-toka-news .toka-toka-news-sub h3 a {
				font-family: 'RockoUltraFLF';
				font-size: 23px;
				line-height: normal;
				text-transform: uppercase;
				font-weight: normal;
				color: #00A1BD!important;
				text-align: left!important;
			}

		body.section-toka-toka.toka-toka-news .toka-toka-news-sub p.more-button-container {
			position: absolute;
			bottom: 10px;
		}
			body.section-toka-toka.toka-toka-news .toka-toka-news-sub p {
				color: #373737!important;
				text-align: justify;
			}
			
			body.section-toka-toka.toka-toka-news .more-button-container a span, body.section-toka-toka.toka-toka-news .toka-toka-news-sub p.more-button-container a span {
				color: #373737;
			}
			body.section-toka-toka.toka-toka-news .more-button-container a:hover span, body.section-toka-toka.toka-toka-news .toka-toka-news-sub p.more-button-container a:hover span {
				color: #00A1BD;
			}
			
			
body.section-toka-toka.toka-toka-news .toka-toka-news-featured img, body.section-toka-toka.toka-toka-news .toka-toka-news-sub img {
	width: auto;
}
			
			
/* Contact */
body.section-toka-toka .toka-toka-contact-us-form {
    margin: 0 auto;
    max-width: 600px;
	margin-top: 40px;
}
	body.section-toka-toka .toka-toka-contact-us-form form .form-item {
		display: table;
		margin-bottom: 20px;
		width: 100%;
	}
		body.section-toka-toka .toka-toka-contact-us-form form label, body.section-toka-toka .toka-toka-contact-us-form form input, body.section-toka-toka .toka-toka-contact-us-form form .form-item.webform-component-textarea .form-textarea-wrapper {
			display: block;
			margin: 0;
			vertical-align: middle;
		}
		body.section-toka-toka .toka-toka-contact-us-form form label {			
			font-family: 'RockoUltraFLF';
			font-size: 17px;
			color: #05509f;
			text-transform: uppercase;
			width: 170px;
		}
		
		body.section-toka-toka .toka-toka-contact-us-form form input {
			background: #e3e3e3;
			border: none;
			box-shadow: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
		}

		body.section-toka-toka .toka-toka-contact-us-form form .form-item.webform-component-textarea label {	
			vertical-align: top;
		}
			body.section-toka-toka .toka-toka-contact-us-form form .form-item.webform-component-textarea .form-textarea-wrapper textarea {
				height: 100px;
				resize: none;
				background: #e3e3e3;
				border: none;
				box-shadow: none;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
			}
			
		body.section-toka-toka .toka-toka-contact-us-form form button.webform-submit {
			background: #05509f;
			border: medium none;
			border-radius: 7px;
			color: #ffffff;
			font-family: "RockoUltraFLF";
			font-size: 15px;
			font-weight: normal;
			padding: 7px 12px;
			text-transform: uppercase;
			display: block;
			margin: 0 0 0 auto;
		}
			body.section-toka-toka .toka-toka-contact-us-form form button.webform-submit:hover {
				background: #05417f;
			}
			
			
/* Gallery */
body.section-toka-toka section.toka-toka-gallery-videos {
	margin-top: 30px;
}

.video-play {
    position: absolute;
}
	.video-play a {
		display: block;
	}


/* Individual Pages */
body.section-toka-toka.node-type-toka-toka-news article.node-toka-toka-news {
	background: #e1e1e1;
	padding: 20px;
}

body.section-toka-toka.node-type-toka-toka-news .image {
	float: left;
	margin: -20px 20px 0 -20px;
}
	body.section-toka-toka.node-type-toka-toka-news .image img {
		width: auto;
	}
	body.section-toka-toka.node-type-toka-toka-news .image .image-field-caption {
		max-width: 480px;
    	margin-top: 10px;
    	font-size: 12px;
	}

body.section-toka-toka.node-type-toka-toka-news .field-name-field-link-to-gallery {
	margin-top: 40px;
}
	body.section-toka-toka.node-type-toka-toka-news .field-name-field-link-to-gallery .field-label {
		font-family: "RockoUltraFLF";
		font-weight: normal;
	}
	body.section-toka-toka.node-type-toka-toka-news .field-name-field-link-to-gallery a {
		background: #05509f;
		border: medium none;
		border-radius: 7px;
		color: #ffffff;
		display: block;
		font-family: "RockoUltraFLF";
		font-size: 15px;
		font-weight: normal;
		margin: 10px 10px 0 0;
		padding: 7px 12px;
		text-transform: uppercase;
		display: inline-block;
	}

/*body.section-toka-toka.node-type-toka-toka-news #pre-footer, body.section-toka-toka.toka-toka-news #pre-footer {
	padding: 0;
}
	body.section-toka-toka.node-type-toka-toka-news #pre-footer, body.section-toka-toka.toka-toka-news #pre-footer {
		padding: 0;
		height: auto!important;
	}
		body.section-toka-toka.node-type-toka-toka-news #pre-footer, body.section-toka-toka.toka-toka-news #pre-footer {
			padding: 0;
			background: none;
		}
			body.section-toka-toka.node-type-toka-toka-news #pre-footer p, body.section-toka-toka.toka-toka-news #pre-footer p {
				margin: 0;
			}*/
			body.section-toka-toka .toka-toka-view-all-news p {
				margin-top: 10px;
			}
				body.section-toka-toka .toka-toka-view-all-news p a {
					font-family: 'RockoUltraFLF';
					font-size: 13px;
					color: #1aaf89!important;
				}


/* News Archive */
body.section-toka-toka .view-news-archive p {
	margin-bottom: 10px;
}

/* END News */

	
/* Gallery Individual Pages */
/*body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery h1 {
	display: none;
}*/

body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery .bx-wrapper .bx-viewport {
	background: none;
    border: 0 none;
    left: 0;
}

body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery #field_images .bx-wrapper:last-child {
	margin-top: 20px!important;
	max-width: none!important
}
	body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery #field_images .bx-wrapper:last-child .bx-viewport {
		margin: 0 40px!important;
		width: auto!important;;
	}
		body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery #field_images .bx-wrapper .bx-viewport ul.bxslider-ths li img {
			padding-right: 5px;
			background: none;
		}
		
		body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery #field_images .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
			background: url("../images/navi-left.png") no-repeat center center;
			transition: 0.5s all ease-in-out;
			ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
		}
			body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery #field_images .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:hover {
				ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
				filter: alpha(opacity=50);
				transition: 0.5s all linear;
			}
		body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery #field_images .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
			background: url("../images/navi-right.png") no-repeat center center;
			transition: 0.5s all ease-in-out;
			ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
		}
			body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery #field_images .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:hover {
				ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
				filter: alpha(opacity=50);
				transition: 0.5s all ease-in-out;
			}



body.page-taxonomy-term.toka-toka-gallery .toka-toka-gallery-photos {
	margin-bottom: 30px;
}

body.page-taxonomy-term.toka-toka-gallery h1 {
	font-size: 23px;
	margin-bottom: 30px;
}
body.page-taxonomy-term.toka-toka-gallery h2 {
	font-size: 18px;
}
body.page-taxonomy-term.toka-toka-gallery article.node {
	display: none;
}

body.section-toka-toka.toka-toka-gallery .views-column {
	margin-bottom: 6px;
	ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	transition: 0.5s all ease-in-out;
}
body.section-toka-toka.toka-toka-gallery .views-column:hover {
	ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	transition: 0.5s all ease-in-out;
}
	
	body.section-toka-toka.toka-toka-gallery .views-column-1, body.section-toka-toka.toka-toka-gallery .views-column-4 {
		padding: 0 4px 0 0;
	}
	body.section-toka-toka.toka-toka-gallery .views-column-2, body.section-toka-toka.toka-toka-gallery .views-column-5 {
		padding: 0 2px;
	}
	body.section-toka-toka.toka-toka-gallery .views-column-3, body.section-toka-toka.toka-toka-gallery .views-column-6 {
		padding: 0 0 0 4px;
	}

	body.section-toka-toka.toka-toka-gallery .views-field-name, body.section-toka-toka.toka-toka-gallery .views-field-title {
		position: relative;
	}
		body.section-toka-toka.toka-toka-gallery .views-field-name .album-name, body.section-toka-toka.toka-toka-gallery .views-field-title .album-name {
    		background: url("../images/toka-toka-gallery-title-bg.png") repeat top center;
			color: #ffffff;
			font-size: 20px;
			font-weight: bold;
			left: 0;
			padding: 20px 0;
			position: absolute;
			right: 0;
			top: 0;
		}
			body.section-toka-toka.toka-toka-gallery .views-field-name .album-name a, body.section-toka-toka.toka-toka-gallery .views-field-title .album-name a {
				color: #ffffff;
			}
			
body.section-toka-toka .field-name-field-download-album {
    margin-top: 10px;
    text-align: right;
}
	body.section-toka-toka .field-name-field-download-album a {
		background: #05509f;
		border: medium none;
		border-radius: 7px;
		color: #ffffff;
		display: block;
		font-family: "RockoUltraFLF";
		font-size: 15px;
		font-weight: normal;
		margin: 10px 10px 0 0;
		padding: 7px 12px;
		text-transform: uppercase;
		display: inline-block;
	}
	body.section-toka-toka .field-name-field-download-album a:hover {
		background: #05417f;
	}
	
/* END Gallery Individual Pages */


/* qTip */
body.section-toka-toka .mwadvocacy-qtip {
    background: #009fcd;
    border: medium none;
    border-radius: 0 20px 20px;
    padding: 20px;
}
	body.section-toka-toka .mwadvocacy-qtip .qtip-titlebar {
		background: none;
	}
	
	body.section-toka-toka .mwadvocacy-qtip .qtip-titlebar .qtip-title, body.section-toka-toka .mwadvocacy-qtip .qtip-content {
		color: #ffffff;
		font-size: 12px;
	}
	
	body.section-toka-toka .mwadvocacy-qtip .qtip-content {
		overflow: visible;
		padding: 0;
	}
	
	
/*body.section-toka-toka.toka-toka-partners ul {
	margin: 0;
}*/

body.section-toka-toka.toka-toka-partners li {
	/*list-style-position: inside;*/
	font-size: 16px;
	margin-left: 20px;
}
body.section-toka-toka.toka-toka-partners p {
	margin-bottom: 0;
	font-size: 16px;
}
/* END qTip */