.small-1,  .row .small-1  { width: 8.33333%;  }
.small-2,  .row .small-2  { width: 16.66667%; }
.small-3,  .row .small-3  { width: 25%;       }
.small-4,  .row .small-4  { width: 33.33333%; }
.small-5,  .row .small-5  { width: 41.66667%; }
.small-6,  .row .small-6  { width: 50%;       }
.small-7,  .row .small-7  { width: 58.33333%; }
.small-8,  .row .small-8  { width: 66.66667%; }
.small-9,  .row .small-9  { width: 75%;       }
.small-10, .row .small-10 { width: 83.33333%; }
.small-11, .row .small-11 { width: 91.66667%; }
.small-12, .row .small-12 { width: 100%;      }

.medium-1,  .row .medium-1  { width: 8.33333%;  }
.medium-2,  .row .medium-2  { width: 16.66667%; }
.medium-3,  .row .medium-3  { width: 25%;       }
.medium-4,  .row .medium-4  { width: 33.33333%; }
.medium-5,  .row .medium-5  { width: 41.66667%; }
.medium-6,  .row .medium-6  { width: 50%;       }
.medium-7,  .row .medium-7  { width: 58.33333%; }
.medium-8,  .row .medium-8  { width: 66.66667%; }
.medium-9,  .row .medium-9  { width: 75%;       }
.medium-10, .row .medium-10 { width: 83.33333%; }
.medium-11, .row .medium-11 { width: 91.66667%; }
.medium-12, .row .medium-12 { width: 100%;      }

.large-1,  .row .large-1  { width: 8.33333%;  }
.large-2,  .row .large-2  { width: 16.66667%; }
.large-3,  .row .large-3  { width: 25%;       }
.large-4,  .row .large-4  { width: 33.33333%; }
.large-5,  .row .large-5  { width: 41.66667%; }
.large-6,  .row .large-6  { width: 50%;       }
.large-7,  .row .large-7  { width: 58.33333%; }
.large-8,  .row .large-8  { width: 66.66667%; }
.large-9,  .row .large-9  { width: 75%;       }
.large-10, .row .large-10 { width: 83.33333%; }
.large-11, .row .large-11 { width: 91.66667%; }
.large-12, .row .large-12 { width: 100%;      }

.row .small-offset-1  { margin-left: 8.33333%;  }
.row .small-offset-2  { margin-left: 16.66667%; }
.row .small-offset-3  { margin-left: 25%;       }
.row .small-offset-4  { margin-left: 33.33333%; }
.row .small-offset-5  { margin-left: 41.66667%; }
.row .small-offset-6  { margin-left: 50%;       }
.row .small-offset-7  { margin-left: 58.33333%; }
.row .small-offset-8  { margin-left: 66.66667%; }
.row .small-offset-9  { margin-left: 75%;       }
.row .small-offset-10 { margin-left: 83.33333%; }
.row .small-offset-11 { margin-left: 91.66667%; }
.row .small-offset-12 { margin-left: 100%;      }

.row .medium-offset-1  { margin-left: 8.33333%;  }
.row .medium-offset-2  { margin-left: 16.66667%; }
.row .medium-offset-3  { margin-left: 25%;       }
.row .medium-offset-4  { margin-left: 33.33333%; }
.row .medium-offset-5  { margin-left: 41.66667%; }
.row .medium-offset-6  { margin-left: 50%;       }
.row .medium-offset-7  { margin-left: 58.33333%; }
.row .medium-offset-8  { margin-left: 66.66667%; }
.row .medium-offset-9  { margin-left: 75%;       }
.row .medium-offset-10 { margin-left: 83.33333%; }
.row .medium-offset-11 { margin-left: 91.66667%; }
.row .medium-offset-12 { margin-left: 100%;      }

.row .large-offset-1  { margin-left: 8.33333%;  }
.row .large-offset-2  { margin-left: 16.66667%; }
.row .large-offset-3  { margin-left: 25%;       }
.row .large-offset-4  { margin-left: 33.33333%; }
.row .large-offset-5  { margin-left: 41.66667%; }
.row .large-offset-6  { margin-left: 50%;       }
.row .large-offset-7  { margin-left: 58.33333%; }
.row .large-offset-8  { margin-left: 66.66667%; }
.row .large-offset-9  { margin-left: 75%;       }
.row .large-offset-10 { margin-left: 83.33333%; }
.row .large-offset-11 { margin-left: 91.66667%; }
.row .large-offset-12 { margin-left: 100%;      }

.push-1  { position: relative; right: auto; left: 8.33333%;  }
.push-2  { position: relative; right: auto; left: 16.66667%; }
.push-3  { position: relative; right: auto; left: 25%;       }
.push-4  { position: relative; right: auto; left: 33.33333%; }
.push-5  { position: relative; right: auto; left: 41.66667%; }
.push-6  { position: relative; right: auto; left: 50%;       }
.push-7  { position: relative; right: auto; left: 58.33333%; }
.push-8  { position: relative; right: auto; left: 66.66667%; }
.push-9  { position: relative; right: auto; left: 75%;       }
.push-10 { position: relative; right: auto; left: 83.33333%; }
.push-11 { position: relative; right: auto; left: 91.66667%; }
.push-12 { position: relative; right: auto; left: 100%;      }

.pull-1  { position: relative; left: auto; right: 8.33333%;  }
.pull-2  { position: relative; left: auto; right: 16.66667%; }
.pull-3  { position: relative; left: auto; right: 25%;       }
.pull-4  { position: relative; left: auto; right: 33.33333%; }
.pull-5  { position: relative; left: auto; right: 41.66667%; }
.pull-6  { position: relative; left: auto; right: 50%;       }
.pull-7  { position: relative; left: auto; right: 58.33333%; }
.pull-8  { position: relative; left: auto; right: 66.66667%; }
.pull-9  { position: relative; left: auto; right: 75%;       }
.pull-10 { position: relative; left: auto; right: 83.33333%; }
.pull-11 { position: relative; left: auto; right: 91.66667%; }
.pull-12 { position: relative; left: auto; right: 100%;      }

.column.small-centered,
.columns.small-centered,
.column.medium-centered,
.columns.medium-centered,
.column.large-centered,
.columns.large-centered { margin-left: auto; margin-right: auto; float: none !important; }

.column.small-uncentered,
.columns.small-uncentered,
.column.medium-uncentered,
.columns.medium-uncentered,
.column.large-uncentered,
.columns.large-uncentered { margin-left: 0; margin-right: 0; float: left !important; }

/*.row { width: 100%; }*/





@charset "utf-8";

@font-face {
    font-family: 'RockoUltraFLF';
    src: url('../fonts/RockoUltraFLF.woff2') format('woff2'),
         url('../fonts/RockoUltraFLF.woff') format('woff'),
         url('../fonts/RockoUltraFLF.svg#RockoUltraFLF') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RockoFLF';
    src: url('../fonts/RockoFLF.woff2') format('woff2'),
         url('../fonts/RockoFLF.woff') format('woff'),
         url('../fonts/RockoFLF.svg#RockoFLF') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GABRWFFR';
    src: url('../fonts/GABRWFFR.woff2') format('woff2'),
         url('../fonts/GABRWFFR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #edf2f5;
	font-family: arial;
}

a {
	outline: none;
	border: none;
}

/*body.front p, body.front li, body.front span, body.front a, body.front h1, body.front h2 {
	font-family: 'RockoUltraFLF';
	font-size: 20px;
	line-height: normal;
}*/

/* Chrome Fix */
/*.front-lakbayan-description div:first-child, .front-tokatoka-description div:first-child {
	height: auto!important;
}*/
/* END Chrome Fix */





/* Core Classes */
.row {
	max-width: 1000px;
}

.form-item {
    margin-top: 0;
}

.l-messages {
}
	.l-messages .alert-box {
		background: #019ec7 none repeat scroll 0 0;
		border: medium none;
		border-radius: 10px;
	}
		.l-messages .alert-box ul, .l-messages .alert-box p {
			margin: 0;
		}
		.l-messages .alert-box p {
			font-size: 20px;
			text-align: center;
		}

/* Utility Classes */
.div-vertical-separator {
    margin-bottom: 20px;
}

.relative {
	position: relative;
}

body.hide-h1-title h1 {
	display: none;
}
/* END Utility Classes */


/* Header */
body.front #header {
	background: url("../images/header-bg.png") no-repeat scroll center top;
	height: 100px;
	margin-top: 30px;
	margin-bottom: 15px;
}
body.not-front #header {
	background: url("../images/header-bg.png") no-repeat scroll center top;
	background-size: 100% 100%;
	height: 100px;
	margin-top: 30px;
	margin-bottom: 15px;
}
	#header img.logo {
		padding-top: 16px;
		text-align: center;
	}
/* END Header */


/* Navigation */
#navigation {
	display: block;
}
	#navigation section.block-menu ul.menu {
		margin: 0;
		padding: 0;
		display: table;
		table-layout: fixed;
		width: 100%;
	}
		#navigation section.block-menu ul.menu li {
			margin: 0;
			padding: 0;
			list-style: none;
			display: table-cell;
		}
			#navigation section.block-menu ul.menu li a {
				font-family: 'RockoUltraFLF';
				font-size: 20px;
				line-height: normal;
				text-transform: uppercase;
			}
/* END Navigation */


/* Slider */
#highlighted section.overview-slider #slider.nivoSlider {
	box-shadow: none;
	margin-bottom: 0;
}

#highlighted section.overview-slider div.nivo-controlNav {
    bottom: 10px;
    padding: 0;
    position: absolute;
    right: 10px;
    z-index: 10;
}
	#highlighted section.overview-slider div.nivo-controlNav a {
		background: #21d4a6;
		border-radius: 50px;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		width: 13px;
		height: 13px;
    	line-height: normal;
		margin: 0 2px;
	}
	#highlighted section.overview-slider div.nivo-controlNav a:last-child {
		margin: 0 0 0 2px;
	}
	#highlighted section.overview-slider div.nivo-controlNav a:first-child {
		margin: 0 2px 0 0;
	}
	#highlighted section.overview-slider div.nivo-controlNav a.active, #highlighted section.overview-slider div.nivo-controlNav a:hover {
		background: #b9b9b9;
	}
/* END Slider */


/* Side - Front */
body.front .sidebar-inner {
    padding: 40px 40px 200px 40px;
}

body.front #side-first {
	margin-top: 20px;
}
body.front #side-first:hover {
	cursor: pointer;
}
	
	body.front #side-first .sidebar-inner {
		background: url("../images/lakbayan-border.png") no-repeat scroll center top;
		background-size: 100% auto;
	}
		body.front #side-first .front-lakbayan-logo {
			margin-bottom: 30px;
		}
		body.front #side-first .front-lakbayan-description {
			background: url("../images/front-lakbayan-bg.jpg") no-repeat scroll center top;
			background-size: cover;
			z-index: -1;
		}
			body.front #side-first .front-lakbayan-description div {
				padding: 0 20px 20px 20px;
				/*opacity: 0;*/
			}
			body.front #side-first .front-lakbayan-description div.block-image {
				padding-top: 20px;
				/*opacity: 0;*/
			}
				body.front #side-first .front-lakbayan-description div.contextual-links-wrapper {
					padding: 0;
				}
			body.front #side-first:hover .front-lakbayan-description div {
				background: url("../images/lakbayan-hover-front-bg.png") repeat scroll center top;
				opacity: 1;
			}
			
				body.front #side-first .front-lakbayan-description p {
					color: #2085b1;
					font-family: 'RockoFLF';
					font-size: 20px;
					font-weight: bold;
				}
				body.front #side-first:hover .front-lakbayan-description p {
					color: #ffffff;
					/*text-shadow: -1px -2px 0 #1c9f99;*/
				}
		
	body.front #side-first #side-first-footer {
		background: url("../images/lakbayan-border-front-bottom.png") no-repeat scroll center top;
		background-size: 100% auto;
		width: 100%;
		height: 164px;
	}

body.front #side-second {
	margin-top: 9px;
}
body.front #side-second:hover {
	cursor: pointer;
}
	
	body.front #side-second .sidebar-inner {
		background: url("../images/toka-toka-fton-border.png") no-repeat scroll center top;
		background-size: 100% auto;
	}
		body.front #side-second .front-tokatoka-logo {
			margin-bottom: 30px;
		}
		
		body.front #side-second .front-tokatoka-description {
			background: url("../images/front-toka-toka-bg.jpg") no-repeat scroll center top;
			background-size: cover;
			z-index: -1;
		}
			body.front #side-second .front-tokatoka-description div {
				padding: 0 20px 20px 20px;
				/*opacity: 0;*/
			}
			body.front #side-second .front-tokatoka-description div.block-image {
				padding-top: 20px;
			}
			/*body.front #side-second .front-tokatoka-description div.block-body {
				padding: 0 20px 20px 20px;
			}*/
				body.front #side-second .front-tokatoka-description div.contextual-links-wrapper {
					padding: 0;
				}
			body.front #side-second:hover .front-tokatoka-description div {
				background: url("../images/toka-toka-hover-front-bg.png") repeat scroll center top;
				opacity: 1;
			}
			
				body.front #side-second .front-tokatoka-description p {
					color: #2085b1;
					font-family: 'RockoFLF';
					font-size: 20px;
					font-weight: bold;
				}
				body.front #side-second:hover .front-tokatoka-description p {
					color: #ffffff;
					/*text-shadow: -1px -2px 0 #126aa8;*/
				}
	
	body.front #side-second #side-second-footer {
		background: url("../images/toka-toka-front-border-bottom.png") no-repeat scroll center top;
		background-size: 100% auto;
		width: 100%;
		height: 164px;
	}
/* END Side First - Front */


/* Footer */
footer {
	background: #2babe2;
	padding: 20px 0;
}
	footer #footer-first p {
		font-size: 16px;
		color: #ffffff;
		font-family: 'RockoUltraFLF';
	}
	footer #footer-first p:last-child {
		margin: 0;
	}
	
	footer #footer-second {
		text-align: right;
		margin-top: 0;
	}
		footer #footer-second .block-imageblock {
			display: inline-block;
		}
/* END Footer */



/* Mobile Menu */
nav.top-bar {	
	display: none;
}

nav.top-bar, nav.top-bar .name, nav.top-bar #logo {
	height: 65px;
}

nav.top-bar, .top-bar.expanded .title-area {
    background: #edf2f5;
}
	nav.top-bar #logo {
		padding: 7px;
		text-align: center;
	}
		nav.top-bar #logo a img {
			height: 50px;
			margin: auto 0;
		}
			nav.top-bar .toggle-topbar.menu-icon a span {
				-moz-box-shadow: 0 10px 0 1px #1aaf89, 0 16px 0 1px #1aaf89, 0 22px 0 1px #1aaf89;
				-webkit-box-shadow: 0 10px 0 1px #1aaf89, 0 16px 0 1px #1aaf89, 0 22px 0 1px #1aaf89;
				box-shadow: 0 10px 0 1px #1aaf89, 0 16px 0 1px #1aaf89, 0 22px 0 1px #1aaf89;
			}
			
nav.top-bar ul.menu {
	background: #ffffff;
}
	nav.top-bar ul.menu li {
		padding: 3px 10px;
	}
	nav.top-bar ul.menu li:hover, nav.top-bar ul.menu li.active-trail, nav.top-bar ul.menu li:hover {
		padding: 3px 10px;
		background: #2ba6cb;
	}
		nav.top-bar ul.menu li a {
			font-family: 'RockoUltraFLF';
			font-size: 15px;
			text-transform: uppercase;
			display: block;
		}
		nav.top-bar ul.menu li a.active, nav.top-bar ul.menu li:hover a, nav.top-bar ul.menu li a:hover {
			color: #ffffff;
		}
/* END Mobile Menu */


/* Mascot - Front */
#kuya-pat {
    bottom: 0;
    left: 25%;
    position: absolute;
	width: 402px;
	height: 503px;
	background: url("../images/kuya-pat1.png") no-repeat center center;
	background-size: 100% 100%;
}

#mobile-kuya-pat-toka-lakbayan, #mobile-kuya-pat-toka-toka {
	display: none;
}
/* END Mascot - Front */