@charset "utf-8";

@font-face {
    font-family: 'RockoUltraFLF';
    src: url('../fonts/RockoUltraFLF.woff2') format('woff2'),
         url('../fonts/RockoUltraFLF.woff') format('woff'),
         url('../fonts/RockoUltraFLF.svg#RockoUltraFLF') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RockoFLF';
    src: url('../fonts/RockoFLF.woff2') format('woff2'),
         url('../fonts/RockoFLF.woff') format('woff'),
         url('../fonts/RockoFLF.svg#RockoFLF') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GABRWFFR';
    src: url('../fonts/GABRWFFR.woff2') format('woff2'),
         url('../fonts/GABRWFFR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #edf2f5;
	font-family: arial;
}

a {
	outline: none;
	border: none;
}

/*body.front p, body.front li, body.front span, body.front a, body.front h1, body.front h2 {
	font-family: 'RockoUltraFLF';
	font-size: 20px;
	line-height: normal;
}*/

/* Chrome Fix */
/*.front-lakbayan-description div:first-child, .front-tokatoka-description div:first-child {
	height: auto!important;
}*/
/* END Chrome Fix */

@media only screen {
.page-user #main-content {
    margin-top: 90px;
}
	
/* Core Classes */
.row {
	max-width: 1000px;
}

.form-item {
    margin-top: 0;
}

.l-messages {
}
	.l-messages .alert-box {
		background: #019ec7 none repeat scroll 0 0;
		border: medium none;
		border-radius: 10px;
	}
		.l-messages .alert-box ul, .l-messages .alert-box p {
			margin: 0;
		}
		.l-messages .alert-box p {
			font-size: 20px;
			text-align: center;
		}

/* Utility Classes */
.div-vertical-separator {
    margin-bottom: 10px;
}

.relative {
	position: relative;
}

body.hide-h1-title h1 {
	display: none;
}
/* END Utility Classes */


/* Header */
#header {
	background: rgba(0, 0, 0, 0) url("../images/header-bg-sm.png") no-repeat scroll center top / 100% auto;
	height: 102px;
	margin-top: 0;
	margin-bottom: 15px;
	display: none;
}
	#header img#logo {
		padding-top: 16px;
		text-align: center;
	}
/* END Header */


/* Navigation */
#navigation {
	display: none;
}
	#navigation section.block-menu ul.menu {
		margin: 0;
		padding: 0;
		display: table;
		table-layout: fixed;
		width: 100%;
	}
		#navigation section.block-menu ul.menu li {
			margin: 0;
			padding: 0;
			list-style: none;
			display: table-cell;
		}
			#navigation section.block-menu ul.menu li a {
				font-family: 'RockoUltraFLF';
				font-size: 20px;
				line-height: normal;
				text-transform: uppercase;
			}
/* END Navigation */


/* Slider */
#highlighted section.overview-slider #slider.nivoSlider {
	box-shadow: none;
	margin-bottom: 0;
}

#highlighted section.overview-slider div.nivo-controlNav {
    bottom: 0;
    padding: 0;
    position: relative;
    right: 0;
    z-index: 10;
}
	#highlighted section.overview-slider div.nivo-controlNav a {
		background: #21d4a6;
		border-radius: 50px;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		width: 13px;
		height: 13px;
    	line-height: normal;
		margin: 0 2px;
	}
	#highlighted section.overview-slider div.nivo-controlNav a:last-child {
		margin: 0 0 0 2px;
	}
	#highlighted section.overview-slider div.nivo-controlNav a:first-child {
		margin: 0 2px 0 0;
	}
	#highlighted section.overview-slider div.nivo-controlNav a.active, #highlighted section.overview-slider div.nivo-controlNav a:hover {
		background: #b9b9b9;
	}
/* END Slider */


/* Side First/Second - Front */
body.front .sidebar-inner {
    padding: 40px 40px 0 40px;
}

body.front #side-first {
	margin-top: 20px;
}
body.front #side-first:hover {
	cursor: pointer;
}
	
	body.front #side-first .sidebar-inner {
		background: rgba(0, 0, 0, 0) url("../images/lakbayan-border.png") no-repeat scroll center top / 100% auto;
	}
		body.front #side-first .front-lakbayan-logo {
			margin-bottom: 30px;
		}
		body.front #side-first .front-lakbayan-description {
			background: rgba(0, 0, 0, 0) url("../images/front-lakbayan-bg.jpg") no-repeat scroll top center;
			background-size: cover;
			z-index: -1;
		}
			body.front #side-first .front-lakbayan-description div {
				padding: 0 20px 20px 20px;
				opacity: 1;
			}
			body.front #side-first .front-lakbayan-description div.block-image {
				padding-top: 20px;
			}
			/*body.front #side-first .front-lakbayan-description div.block-body {
				padding: 0 20px 20px 20px;
			}*/
				body.front #side-first .front-lakbayan-description div.contextual-links-wrapper {
					padding: 0;
				}
			body.front #side-first:hover .front-lakbayan-description div {
				background: rgba(1, 160, 202, 0.5) none repeat scroll 0 0;
			}
			
				body.front #side-first .front-lakbayan-description p {
					color: #2085b1;
					font-family: 'RockoFLF';
					font-size: 20px;
					font-weight: bold;
				}
				body.front #side-first:hover .front-lakbayan-description p {
					color: #ffffff;
					/*text-shadow: -1px -2px 0 #1c9f99;*/
				}
		
	body.front #side-first #side-first-footer {
		background: rgba(237, 242, 245, 0) url("../images/lakbayan-border-front-bottom.png") no-repeat scroll center top / 100% 100%;
		width: 100%;
		height: 144px;
	}

body.front #side-second {
	margin-top: 20px;
}
body.front #side-second:hover {
	cursor: pointer;
}
	
	body.front #side-second .sidebar-inner {
		background: rgba(0, 0, 0, 0) url("../images/toka-toka-fton-border.png") no-repeat scroll center top / 100% 100%;
		padding-top: 51px;
	}
		body.front #side-second .front-tokatoka-logo {
			margin-bottom: 30px;
		}
		
		body.front #side-second .front-tokatoka-description {
			background: rgba(0, 0, 0, 0) url("../images/front-toka-toka-bg.jpg") no-repeat scroll top center;
			background-size: cover;
			z-index: -1;
		}
			body.front #side-second .front-tokatoka-description div {
				padding: 0 20px 20px 20px;
				opacity: 1;
			}	
			body.front #side-second .front-tokatoka-description div.block-image {
				padding-top: 20px;
			}			
				body.front #side-second .front-tokatoka-description div.contextual-links-wrapper {
					padding: 0;
				}
			body.front #side-second:hover .front-tokatoka-description div {
				background: rgba(5, 80, 159, 0.5) none repeat scroll 0 0;
			}
			
				body.front #side-second .front-tokatoka-description p {
					color: #2085b1;
					font-family: 'RockoFLF';
					font-size: 20px;
					font-weight: bold;
				}
				body.front #side-second:hover .front-tokatoka-description p {
					color: #ffffff;
					/*text-shadow: -1px -2px 0 #126aa8;*/
				}
	
	body.front #side-second #side-second-footer {
		background: rgba(237, 242, 245, 0) url("../images/toka-toka-front-border-bottom.png") no-repeat scroll center top / 100% 100%;
		width: 100%;
		height: 144px;
	}
	
#mobile-kuya-pat-toka-lakbayan {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
	width: auto;
	height: 350px;
	background: url("../images/kuya-pat1.png") no-repeat center center / contain;
}
	
#mobile-kuya-pat-toka-toka {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
	width: auto;
	height: 350px;
	background: url("../images/kuya-pat2.png") no-repeat center center / contain;
}
/* END Side First/Second - Front */


/* Footer */
footer {
	background: #2babe2;
	padding: 20px 0;
}
	footer #footer-first p {
		font-size: 16px;
		color: #ffffff;
		font-family: 'RockoUltraFLF';
	}
	footer #footer-first p:last-child {
		margin: 0;
	}
	
	footer #footer-second {
		text-align: center;
		margin-top: 20px;
	}
		footer #footer-second .block-imageblock {
			display: inline-block;
		}
/* END Footer */



/* Mobile Menu */
nav.top-bar {	
	display: block;
}

nav.top-bar, nav.top-bar .name, nav.top-bar #logo {
	height: 65px;
}

nav.top-bar, .top-bar.expanded .title-area {
    background: #edf2f5;
}
	nav.top-bar #logo {
		padding: 7px;
		text-align: center;
	}
		nav.top-bar #logo a img {
			height: 50px;
			margin: auto 0;
		}
			nav.top-bar .toggle-topbar.menu-icon a span {
				-moz-box-shadow: 0 10px 0 1px #1aaf89, 0 16px 0 1px #1aaf89, 0 22px 0 1px #1aaf89;
				-webkit-box-shadow: 0 10px 0 1px #1aaf89, 0 16px 0 1px #1aaf89, 0 22px 0 1px #1aaf89;
				box-shadow: 0 10px 0 1px #1aaf89, 0 16px 0 1px #1aaf89, 0 22px 0 1px #1aaf89;
			}
			
nav.top-bar ul.menu {
	background: #ffffff;
}
	nav.top-bar ul.menu li {
		padding: 3px 10px;
	}
	nav.top-bar ul.menu li:hover, nav.top-bar ul.menu li.active-trail, nav.top-bar ul.menu li:hover {
		padding: 3px 10px;
		background: #2ba6cb;
	}
		nav.top-bar ul.menu li a {
			font-family: 'RockoUltraFLF';
			font-size: 15px;
			text-transform: uppercase;
			display: block;
		}
		nav.top-bar ul.menu li a.active, nav.top-bar ul.menu li:hover a, nav.top-bar ul.menu li a:hover {
			color: #ffffff;
		}
/* END Mobile Menu */
	
}



@media only screen and (min-width: 768px) {

/* Utility Classes */
.div-vertical-separator {
    margin-bottom: 20px;
}
/* END Utility Classes */


/* Header */
#header {
	background: rgba(0, 0, 0, 0) url("../images/header-bg-med.png") no-repeat scroll center top / contain;
	height: 102px;
	margin-top: 0;
	margin-bottom: 15px;
	display: block;
}
	#header img.logo {
		padding-top: 30px;
		text-align: center;
	}
/* END Header */


/* Navigation */
#navigation {
	display: block;
}
/* END Navigation */


/* Slider */
#highlighted section.overview-slider #slider.nivoSlider {
	box-shadow: none;
	margin-bottom: 0;
}

#highlighted section.overview-slider div.nivo-controlNav {
    bottom: 10px;
    padding: 0;
    position: absolute;
    right: 10px;
    z-index: 10;
}
	#highlighted section.overview-slider div.nivo-controlNav a {
		background: #21d4a6;
		border-radius: 50px;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		width: 13px;
		height: 13px;
    	line-height: normal;
		margin: 0 2px;
	}
	#highlighted section.overview-slider div.nivo-controlNav a:last-child {
		margin: 0 0 0 2px;
	}
	#highlighted section.overview-slider div.nivo-controlNav a:first-child {
		margin: 0 2px 0 0;
	}
	#highlighted section.overview-slider div.nivo-controlNav a.active, #highlighted section.overview-slider div.nivo-controlNav a:hover {
		background: #b9b9b9;
	}
/* END Slider */


/* Banner */
#banner {
	margin-bottom: 30px;
}
/* END Banner */


/* Side - Front */
body.front .sidebar-inner {
    padding: 40px 40px 0;
}

body.front #side-first {
	margin-top: 20px;
}
body.front #side-first:hover {
	cursor: pointer;
}
	
	body.front #side-first .sidebar-inner {
		background: rgba(0, 0, 0, 0) url("../images/lakbayan-border.png") no-repeat scroll center top / 100% auto;
	}
		body.front #side-first .front-lakbayan-logo {
			margin-bottom: 30px;
		}
		body.front #side-first .front-lakbayan-description {
			background: rgba(0, 0, 0, 0) url("../images/front-lakbayan-bg.jpg") no-repeat scroll center top;
			background-size: cover;
			z-index: -1;
		}
			body.front #side-first .front-lakbayan-description div {
				padding: 0 20px 20px 20px;
				/*opacity: 0;*/
			}
			body.front #side-first .front-lakbayan-description div.block-image {
				padding-top: 20px;
				/*opacity: 0;*/
			}
				body.front #side-first .front-lakbayan-description div.contextual-links-wrapper {
					padding: 0;
				}
			body.front #side-first:hover .front-lakbayan-description div {
				background: rgba(1, 160, 202, 0.5) none repeat scroll 0 0;
				opacity: 1;
			}
			
				/*body.front #side-first .front-lakbayan-description p {
					color: #2085b1;
				}*/
		
	body.front #side-first #side-first-footer {
		background: rgba(237, 242, 245, 0) url("../images/lakbayan-border-front-bottom.png") no-repeat scroll center top / 100% auto;
		width: 100%;
		height: 164px;
	}

body.front #side-second {
	margin-top: 9px;
}
body.front #side-second:hover {
	cursor: pointer;
}
	
	body.front #side-second .sidebar-inner {
		background: rgba(0, 0, 0, 0) url("../images/toka-toka-fton-border.png") no-repeat scroll center top / 100% auto;
	}
		body.front #side-second .front-tokatoka-logo {
			margin-bottom: 30px;
		}
		
		body.front #side-second .front-tokatoka-description {
			background: rgba(0, 0, 0, 0) url("../images/front-toka-toka-bg.jpg") no-repeat scroll center top;
			background-size: cover;
			z-index: -1;
		}
			body.front #side-second .front-tokatoka-description div {
				padding: 0 20px 20px 20px;
				/*opacity: 0;*/
			}
			body.front #side-second .front-tokatoka-description div.block-image {
				padding-top: 20px;
			}
			/*body.front #side-second .front-tokatoka-description div.block-body {
				padding: 0 20px 20px 20px;
			}*/
				body.front #side-second .front-tokatoka-description div.contextual-links-wrapper {
					padding: 0;
				}
			body.front #side-second:hover .front-tokatoka-description div {
				background: rgba(5, 80, 159, 0.5) none repeat scroll 0 0;
				opacity: 1;
			}
			
				/*body.front #side-second .front-tokatoka-description p {
					color: #2085b1;
				}*/
	
	body.front #side-second #side-second-footer {
		background: rgba(237, 242, 245, 0) url("../images/toka-toka-front-border-bottom.png") no-repeat scroll center top / 100% auto;
		width: 100%;
		height: 164px;
	}
/* END Side First - Front */



/* Footer */
	footer #footer-second {
		text-align: right;
		margin-top: 0;
	}
/* END Footer */


/* Mascot - Front */
#kuya-pat {
    bottom: 0;
    left: 25%;
    position: absolute;
	width: 280px;
	height: 350px;
	background: url("../images/kuya-pat1.png") no-repeat center center / 100% 100%;
}

#mobile-kuya-pat-toka-lakbayan, #mobile-kuya-pat-toka-toka {
	display: none;
}
/* END Mascot - Front */



/* Mobile Menu */
nav.top-bar {	
	display: none;
}
/* END Mobile Menu */

}



@media only screen and (min-width: 1000px) {

/* Header */
body.front #header {
	background: rgba(0, 0, 0, 0) url("../images/header-bg.png") no-repeat scroll center top;
	height: 100px;
	margin-top: 30px;
	margin-bottom: 15px;
}
body.not-front #header {
	background: rgba(0, 0, 0, 0) url("../images/header-bg.png") no-repeat scroll center top / 100% 100%;
	height: 100px;
	margin-top: 30px;
	margin-bottom: 15px;
}
	#header img.logo {
		padding-top: 16px;
		text-align: center;
	}
/* END Header */


/* Side - Front */
body.front .sidebar-inner {
    padding: 40px 40px 200px 40px;
}
/* END Side - Front */


/* Mascot - Front */
#kuya-pat {
    bottom: 0;
    left: 25%;
    position: absolute;
	width: 402px;
	height: 503px;
	background: url("../images/kuya-pat1.png") no-repeat center center / 100% 100%;
}
/* END Mascot - Front */

}

