@charset "utf-8";

body.section-toka-toka p, body.section-toka-toka a, body.section-toka-toka li, body.section-toka-toka span, body.section-toka-toka label {
	font-family: arial;
}
body.section-toka-toka h1, body.section-toka-toka h2 {
	font-family: 'GABRWFFR';
	color: #05509f;
	line-height: normal;
	text-transform: uppercase;
	font-weight: normal;
}
	body.section-toka-toka h1 {
		font-size: 25px;
		text-align: center;
		line-height: 37px;
	}
	body.section-toka-toka h2 {
		font-size: 20px;
	}

article.node::after {
	clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

@media only screen {

/* Banner - Overview */
body.section-toka-toka #banner {
	background: #01a0ca;
	padding: 20px 0;
	margin-bottom: 0;
}
	body.section-toka-toka #banner h2 {
		margin: 0;
		color: #ffffff;
		font-size: 33px;
		font-family: 'RockoUltraFLF';
	}
	
body.section-toka-toka .toka-toka-banner-border {
    position: absolute;
    z-index: 15;
}
/* END Banner - Overview */

	
/* Navigation */
body.section-toka-toka #navigation {
	padding: 10px 0;
}
	body.section-toka-toka #navigation section.block-menu ul.menu li a {
		color: #009ec5;
	}
	
	body.section-toka-toka #navigation section.block-menu ul.menu li a:hover, body.section-toka-toka #navigation section.block-menu ul.menu li a.active-trail, body.section-toka-toka #navigation section.block-menu ul.menu li a.active {
		color: #05509f;
	}
/* END Navigation */

	
/* Toka-Toka Side Front  */
body.section-toka-toka #side-first {
	background: #e3e3e3;
	border-radius: 0 0 30px 30px;
	-moz-border-radius: 0 0 30px 30px;
	-webkit-border-radius: 0 0 30px 30px;
}
	
		body.section-toka-toka #side-first .toka-toka-home-about .block-body {
			padding: 20px 20px 0 20px;
		}
		
		
	body.section-toka-toka #side-first .toka-toka-home-about-more-button {
		padding: 0 20px 20px 20px
	}
		body.section-toka-toka #side-first .toka-toka-home-about-more-button p {
			margin: 0;
		}
			body.section-toka-toka #side-first .toka-toka-home-about-more-button p a {
				font-size: 20px;
				font-family: 'RockoUltraFLF';
			}
	
	
	body.section-toka-toka #side-second .toka-toka-home-link-gallery, body.section-toka-toka #side-second .toka-toka-home-video {
		padding-right: 0;
	}
	body.section-toka-toka #side-second .toka-toka-home-link-gallery {
	}

/* Picture Upload */
body.section-toka-toka #side-second {
	padding: 0;
}
	body.section-toka-toka #side-second .sidebar-inner {
	}
		
		body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload {
			margin-top: 15px;
			padding: 0;
			position: relative;
			border-left: 15px solid #edf2f5;
			background: #A5CE3A;
			border-radius: 0 50px 0 50px;
			-moz-border-radius: 0 50px 0 50px;
			-webkit-border-radius: 0 50px 0 50px;
		}
		
			body.section-toka-toka .toka-toka-picture-upload h2 {
				background: rgba(165, 206, 58, 1) url("../images/ano-ang-toka-mo-bg.png") no-repeat scroll center center / auto 100%;
				border-radius: 0 40px 0 40px;
				-moz-border-radius: 0 40px 0 40px;
				-webkit-border-radius: 0 40px 0 40px;
				bottom: 0;
				color: #ffffff;
				font-size: 34px;
				left: 0;
				right: 0;
				margin: 0 auto;
				position: absolute;
				text-align: center;
				top: 0;
				z-index: 1;
				cursor: pointer;
				text-indent: -9999px;
			}
			
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form {
				background: #a5ce3a;
				border-radius: 0 50px 0 50px;
				-moz-border-radius: 0 50px 0 50px;
				-webkit-border-radius: 0 50px 0 50px;
				visibility: hidden;
				opacity: 0;
				cursor: pointer;
				padding: 20px 40px;
			}
		
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--choose-file {
				margin-top: 0;
			}
			
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--choose-file, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--short-description {
				display: table;
			}
			
				body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--choose-file input {
					background: #ffffff;
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					overflow: hidden;
					padding: 3px;
				}
					body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--choose-file .form-item-picture-upload-choose-file input {
						/*text-indent: -87px;*/
						width: 100%;
						font-size: 14px;
						font-style: italic;
						font-weight: normal;
					}
					
				body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--choose-file .form-item-picture-upload-choose-file input, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--short-description textarea {
					color: #6d6d6d;
					font-family: arial;
					font-size: 13px;
					font-style: normal;
				}
				
				body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--choose-file button, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--choose-file .description {
					display: none;
				}
				body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-submit {
					margin: 0;
				}
			
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--short-description {
				margin-bottom: 0;
			}
				body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--short-description textarea {
					resize: none;
					height: 100px;
					width: 70%;
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					box-shadow: none;
					-moz-box-shadow: none;
					-webkit-box-shadow: none;
					border: none;
				}
			
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--choose-file .form-item-picture-upload-choose-file,
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-component--short-description .form-textarea-wrapper {
				display: table-cell;
			}
			
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form label {
				width: 145px;
				color: #ffffff;
				font-size: 20px;
				text-align: right;
				display: table-cell;
				padding: 0 20px 0 0;
			}
			
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form form-item {
				margin-bottom: 10px;
			}
			
			body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form .webform-submit {
				border: medium none;
				border-radius: 5px;
				color: #159fce !important;
				font-family: "RockoUltraFLF";
				font-size: 17px;
				font-weight: normal;
				padding: 5px 10px;
				text-transform: uppercase;
				float: right;
				display: block;
				margin: 0 0 0 auto;
			}
			
				body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form #edit-submitted-terms-and-conditions .form-item {
					display: table;
					width: auto !important;
				}
					body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form #edit-submitted-terms-and-conditions label, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form #edit-submitted-terms-and-conditions input, body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form #edit-submitted-terms-and-conditions span {
						display: table-cell !important;
						margin-bottom: 0;
						text-align: left;
					}
					body.section-toka-toka #side-second .sidebar-inner .toka-toka-picture-upload form #edit-submitted-terms-and-conditions label {
						width: 100%;
						font-size: 12px;
						line-height: normal;
						padding: 0 0 0 10px;
					}
/* END Toka-Toka Side Front */



/* Content */
body.section-toka-toka #toka-toka-main-top {
	height: 76px;
	background: url('../images/toka-toka-content-head.png') center center no-repeat;
}

body.section-toka-toka #toka-toka-main-bottom {
	height: 144px;
	background: url('../images/toka-toka-content-foot.png') center center no-repeat;
}

body.section-toka-toka h3, body.section-toka-toka h3 a {
	font-family: 'GABRWFFR';
	font-size: 25px;
	color: #05509f;
	text-align: center;
	margin-top: 0;
}

body.section-toka-toka #main {
	min-height: 450px;
	background: rgba(0, 0, 0, 0) url("../images/toka-toka-content-border.png")no-repeat scroll center top / 100% 100%;
	padding: 0 80px;
}
/* END Content */


/* Partners */
body.section-toka-toka .toka-toka-partners .views-responsive-grid {
	margin-bottom: 40px;
}
	body.section-toka-toka .toka-toka-partners .views-responsive-grid .views-column {
		margin-bottom: 20px;
	}
		body.section-toka-toka .toka-toka-partners .views-field-name {
			min-height: 40px;
		}
			body.section-toka-toka .toka-toka-partners .views-field-name span, body.section-toka-toka .toka-toka-partners .views-field-name a {
				font-family: 'RockoFLF';
				color: #05509f;
				text-transform: uppercase;
				font-size: 14px;
			}
				body.section-toka-toka .toka-toka-partners .views-field-name img {
					margin-bottom: 5px;
				}
/* END Partners */


/* News */
body.section-toka-toka.node-type-toka-toka-news h1 {
	text-align: left!important;
}

body.section-toka-toka.node-type-toka-toka-news p {
	text-align: justify!important;
}

body.section-toka-toka.toka-toka-news h1 {
	display: none;
	text-align: left!important;
}

body.section-toka-toka.toka-toka-news h2 {
	text-align: left;
	margin-top: 0;
}
	body.section-toka-toka.toka-toka-news h2 a {
		font-family: 'RockoUltraFLF';
		font-size: 30px;
		line-height: normal;
		font-weight: normal;
	}
body.section-toka-toka.toka-toka-news .toka-toka-news-featured {
	background: #e1e1e1;	
}
	body.section-toka-toka.toka-toka-news .toka-toka-news-featured .news-featured-title-body {
		padding: 20px;
	}
		body.section-toka-toka.toka-toka-news .toka-toka-news-featured .news-featured-title-body p.more-button-container, body.section-toka-toka.toka-toka-news .toka-toka-news-sub .views-field-title-2 p.more-button-container {
			margin-bottom: 0;
		}
			body.section-toka-toka.toka-toka-news .toka-toka-news-featured .news-featured-title-body p.more-button-container a span, body.section-toka-toka.toka-toka-news .toka-toka-news-sub .views-field-title-2 p.more-button-container a span {
				font-family: 'RockoUltraFLF';
				text-transform: uppercase;
			}
			body.section-toka-toka.toka-toka-news .toka-toka-news-featured .news-featured-title-body p {
				text-align: justify;
			}

body.section-toka-toka.toka-toka-news .toka-toka-news-sub {
	margin: 8px 0 0 0;
}
	body.section-toka-toka.toka-toka-news .toka-toka-news-sub .views-column-1 {
		padding-right: 6px;
	}
	
	body.section-toka-toka.toka-toka-news .toka-toka-news-sub .views-column-2 {
		padding: 0 3px;
	}
	
	body.section-toka-toka.toka-toka-news .toka-toka-news-sub .views-column-3 {
		padding-left: 6px;
	}

	body.section-toka-toka.toka-toka-news .toka-toka-news-sub .views-field-title-2 {
		line-height: normal;
		padding: 15px;
		background: #e1e1e1;
	}
		body.section-toka-toka.toka-toka-news .toka-toka-news-sub h3 {
			line-height: normal;'
			margin-top: 0;
			text-align: left;
		}
			body.section-toka-toka.toka-toka-news .toka-toka-news-sub h3 a {
				font-family: 'RockoUltraFLF';
				font-size: 23px;
				line-height: normal;
				text-transform: uppercase;
				font-weight: normal;
				color: #1aaf88!important;
				text-align: left!important;
			}

		body.section-toka-toka.toka-toka-news .toka-toka-news-sub p.more-button-container {
			position: absolute;
			bottom: 10px;
		}
			body.section-toka-toka.toka-toka-news .toka-toka-news-sub p, body.section-toka-toka.toka-toka-news .toka-toka-news-sub p.more-button-container a span {
				color: #373737!important;
				text-align: justify;
			}
			
			
/* Contact */
body.section-toka-toka .toka-toka-contact-us-form {
    margin: 0 auto;
    max-width: 600px;
	margin-top: 80px;
}
	body.section-toka-toka .toka-toka-contact-us-form form .form-item {
		display: table;
		margin-bottom: 20px;
		width: 100%;
	}
		body.section-toka-toka .toka-toka-contact-us-form form label, body.section-toka-toka .toka-toka-contact-us-form form input, body.section-toka-toka .toka-toka-contact-us-form form .form-item.webform-component-textarea .form-textarea-wrapper {
			display: table-cell;
			margin: 0;
			vertical-align: middle;
		}
		body.section-toka-toka .toka-toka-contact-us-form form label {			
			font-family: 'RockoUltraFLF';
			font-size: 17px;
			color: #05509f;
			text-transform: uppercase;
			width: 170px;
		}
		
		body.section-toka-toka .toka-toka-contact-us-form form input {
			background: #e3e3e3;
			border: none;
			box-shadow: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
		}

		body.section-toka-toka .toka-toka-contact-us-form form .form-item.webform-component-textarea label {	
			vertical-align: top;
		}
			body.section-toka-toka .toka-toka-contact-us-form form .form-item.webform-component-textarea .form-textarea-wrapper textarea {
				height: 100px;
				resize: none;
				background: #e3e3e3;
				border: none;
				box-shadow: none;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
			}
			
			
/* Gallery */
body.section-toka-toka section.toka-toka-gallery-videos {
	margin-top: 30px;
}


/* Individual Pages */
body.section-toka-toka.node-type-toka-toka-news article.node-toka-toka-news {
	background: #e1e1e1;
	padding: 20px;
}

body.section-toka-toka.node-type-toka-toka-news .image {
	float: left;
	margin: -20px 20px 0 -20px;
}

body.section-toka-toka.node-type-toka-toka-news #side-first {
	padding: 0;
}
	body.section-toka-toka.node-type-toka-toka-news #side-first .sidebar-inner {
		padding: 0;
		height: auto!important;
	}
		body.section-toka-toka.node-type-toka-toka-news #side-first .sidebar-inner {
			padding: 0;
			background: none;
		}
			body.section-toka-toka.node-type-toka-toka-news #side-first .sidebar-inner p {
				margin: 0;
			}
				body.section-toka-toka.node-type-toka-toka-news #side-first .sidebar-inner p a, body.section-toka-toka .lakbayan-view-all-news p a {
					font-family: 'RockoUltraFLF';
					font-size: 13px;
					color: #1aaf89!important;
				}

/* Individual Pages */
body.section-toka-toka .view-news-archive p {
	margin-bottom: 10px;
}

/* END News */

	
/* Gallery Individual Pages */
/*body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery h1 {
	display: none;
}*/

body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery .bx-wrapper .bx-viewport {
	background: none;
    border: 0 none;
    left: 0;
}

body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery #field_images .bx-wrapper:last-child {
	margin-top: 20px!important;
	max-width: none!important
}
	body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery #field_images .bx-wrapper:last-child .bx-viewport {
		margin: 0 auto!important;
		width: 745px!important;;
	}
		body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery #field_images .bx-wrapper .bx-viewport ul.bxslider-ths li img {
			padding-right: 10px;
			background: none;
		}
		
		body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery #field_images .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
			background: rgba(0, 0, 0, 0) url("../images/navi-left.png") no-repeat center center;
			transition: 0.5s all ease-in-out;
			opacity: 1;
		}
			body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery #field_images .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:hover {
				opacity: 0.5;
				transition: 0.5s all linear;
			}
		body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery #field_images .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
			background: rgba(0, 0, 0, 0) url("../images/navi-right.png") no-repeat center center;
			transition: 0.5s all ease-in-out;
			opacity: 1;
		}
			body.section-toka-toka.gallery.node-type-toka-toka-photo-gallery #field_images .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:hover {
				opacity: 0.5;
				transition: 0.5s all ease-in-out;
			}



body.page-taxonomy-term.toka-toka-gallery .toka-toka-gallery-photos {
	margin-bottom: 30px;
}

body.page-taxonomy-term.toka-toka-gallery h1 {
	font-size: 23px;
	margin-bottom: 30px;
}
body.page-taxonomy-term.toka-toka-gallery h2 {
	font-size: 18px;
}
body.page-taxonomy-term.toka-toka-gallery article.node {
	display: none;
}

body.section-toka-toka.toka-toka-gallery .views-column {
	margin-bottom: 6px;
	opacity: 1;
	transition: 0.5s all ease-in-out;
}
body.section-toka-toka.toka-toka-gallery .views-column:hover {
	opacity: 0.7;
	transition: 0.5s all ease-in-out;
}
	body.section-toka-toka.toka-toka-gallery .views-column-1, body.section-toka-toka.toka-toka-gallery .views-column-4 {
		padding: 0 4px 0 0;
	}
	body.section-toka-toka.toka-toka-gallery .views-column-2, body.section-toka-toka.toka-toka-gallery .views-column-5 {
		padding: 0 2px;
	}
	body.section-toka-toka.toka-toka-gallery .views-column-3, body.section-toka-toka.toka-toka-gallery .views-column-6 {
		padding: 0 0 0 4px;
	}
	
	body.section-toka-toka.toka-toka-gallery .views-field-name, body.section-toka-toka.toka-toka-gallery .views-field-title {
		position: relative;
	}
		body.section-toka-toka.toka-toka-gallery .views-field-name .album-name, body.section-toka-toka.toka-toka-gallery .views-field-title .album-name {
			background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
			color: #ffffff;
			font-size: 20px;
			font-weight: bold;
			left: 0;
			padding: 20px 0;
			position: absolute;
			right: 0;
			top: 0;
		}
			body.section-toka-toka.toka-toka-gallery .views-field-name .album-name a, body.section-toka-toka.toka-toka-gallery .views-field-title .album-name a {
				color: #ffffff;
			}
/* END Gallery Individual Pages */


/* qTip */
body.section-toka-toka .mwadvocacy-qtip {
    background: #009fcd none repeat scroll 0 0;
    border: medium none;
    border-radius: 0 20px 20px;
    padding: 20px;
}
	body.section-toka-toka .mwadvocacy-qtip .qtip-titlebar {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	}
	
	body.section-toka-toka .mwadvocacy-qtip .qtip-titlebar .qtip-title, body.section-toka-toka .mwadvocacy-qtip .qtip-content {
		color: #ffffff;
		font-size: 12px;
	}
	
	body.section-toka-toka .mwadvocacy-qtip .qtip-content {
		overflow: visible;
		padding: 0;
	}
	
	
/*body.section-toka-toka.toka-toka-partners ul {
	margin: 0;
}*/

body.section-toka-toka.toka-toka-partners li {
	/*list-style-position: inside;*/
	font-size: 16px;
	margin-left: 20px;
}
body.section-toka-toka.toka-toka-partners p {
	margin-bottom: 0;
	font-size: 16px;
}
/* END qTip */

}



@media only screen and (min-width: 768px) {
	
	
	

}



@media only screen and (min-width: 1000px) {
	
	
	

}

